@import "../../../scss/variables";

.tab-div {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  overflow-x: auto;

  // Custom Scrollbar Styles
  &::-webkit-scrollbar {
    height: 1px; // Height of the horizontal scrollbar
  }
}

.tab-div-frame {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: auto;
  width: auto;
  padding: 4px;
  border-radius: 16px;
  border: none;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 4px;
  }
}
.button-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  width: auto;
  height: auto;
  z-index: 10;
  font-size: get-font-size($body-font-size, rg);
  font-weight: get-font-weight($font-weight, medium);
  white-space: nowrap;
  font-family: $font-family;

  &.active {
    border-bottom: 1px solid #3461ff;
    color: #3461ff;
  }

  &.inactive {
    color: #1c1c1c;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
