@import "../../../../scss/variables";

.my-action-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.new-button-div {
  background-color: #3461ff;
  border-radius: 16px;
  z-index: 10;
  cursor: pointer;
  font-family: $font-family;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.icon-custom {
  margin: 2px 8px 2px 0;
}

.imp-exp-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: $font-family;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
  }
}

.button-div {
  background-color: transparent;
  border: 1px solid #3461ff;
  border-radius: 16px;
  z-index: 10;
  cursor: pointer;
  font-family: $font-family;
}

.icon-custom-other {
  color: #3461ff;
  margin: 2px 8px 2px 0;
}
