@import "../../../../scss/variables";

.tab-div {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.tab-div-frame {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: auto;
  width: auto;
  padding: 4px;
  border-radius: 16px;
  border: none;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 4px;
  }
}
.button-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  width: auto;
  height: auto;
  z-index: 10;
  font-size: 16px;
  font-weight: 500;
  font-family: $font-family;

  &.active {
    border-bottom: 1px solid #3461ff;
    color: #3461ff;
  }

  &.inactive {
    color: #1c1c1c;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
