@import "../../../scss/variables";

.table-div {
  width: 100%;
  height: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-family;
  cursor: pointer;
  @media (max-width: 992px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }

  thead {
    background-color: transparent;

    th {
      padding: 14px 12px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      background-color: get-color($primary, "100");
      color: get-color($accent, "100");
      @media (max-width: 992px) {
        font-size: 18px;
      }
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  tbody {
    tr {
      color: get-color($primary, "100");

      &:nth-child(odd) {
        background-color:  get-color($background,'100');// Màu nền cho hàng chẵn
      }
      &:nth-child(even) {
        background-color: get-color($secondary,'100'); // Màu nền cho hàng lẻ
      }

      &:hover {
        background-color:  get-color($secondary,'200');// Màu nền khi hover
      }
      &.selected {
        background-color: get-color($primary, '200'); // Màu nền khi hàng được chọn
        color: get-color($accent, '100'); // Màu chữ khi hàng được chọn
      }
    }

    td {
      text-align: center;
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 16px;
      //border-bottom: 1px solid #bcbaba;
    }

    .action-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 20px;
    }
  }
}
