@import "../../../scss/_variables.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-content {
  background: white;
  width: 644px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  border-radius: 16px;
}

.title-add {
  font-weight: get-font-weight($font-weight, semibold);
  font-family: $font-family;
  margin-bottom: 20px;
}

.add-info-box {
  width: 580px;
  height: 268px;
  border-radius: 12px;
  background-color: #d6dfff;
}

.add-name {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
}

.title-add-name {
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, medium);
  font-size: 16px;
  margin-bottom: 4px;
}

.input-name {
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, regular);
  font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
  // padding-top: 8px;
  // padding-bottom: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border-color: transparent;
  width: 540px;
  height: 40px;
}

.add-owner {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
}

.title-add-owner {
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, medium);
  font-size: 16px;
  margin-bottom: 4px;
}

.input-owner {
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, regular);
  font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
  // padding-top: 8px;
  // padding-bottom: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border-color: transparent;
  width: 540px;
  height: 40px;
}

.add-location {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
}

.title-add-location {
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, medium);
  font-size: 16px;
  margin-bottom: 4px;
}

.input-location {
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, regular);
  font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
  // padding-top: 8px;
  // padding-bottom: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border-color: transparent;
  width: 540px;
  height: 40px;
}

.type-partner-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 0 0;
  width: 580px;
  height: 110px;
  border-radius: 12px;
  background-color: #d6dfff;
}

.type-title {
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, medium);
  font-size: 16px;
  margin-bottom: 4px;
}

.select-box {
  display: flex;
  width: 540px;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 8px;
}

.type-option {
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, regular);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.type-option.active {
  background-color: #3461ff;
  color: white;
}

.type-option:not(.active):hover {
  background-color: #f0f0f0;
}

.option {
  display: flex;
  padding: 0 32px;
  margin-top: 20px;
}

.option-main {
  display: flex;
  margin-left: auto;
}

.button-cancel {
  width: 90px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid #85a0ff;
  color: #3461ff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 28px;
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, medium);
}
.button-create {
  width: 90px;
  height: 44px;
  background-color: #3461ff;
  border-radius: 16px;
  border: 1px solid #3461ff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  font-family: $font-family;
  font-weight: get-font-weight($font-weight, medium);
}
