/* Layout.module.css */
:root {
    --sidebar-width: 250px;
}

.sidebar {
    width: var(--sidebar-width);
    background: linear-gradient(to bottom, #faecc2, #fdeeaa);
}

.content {
    width: calc(100% - var(--sidebar-width) - 40px);
    margin: 20px;
}

.content:before {
    margin-left: var(--sidebar-width);
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    opacity: 0.2;
    background-color: #faecc2;
    background-image: url(@/assets/HoaVanTD.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30vw auto;
}