@import "../../../../../scss/variables";

.my-action-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 4px;
    align-items: start;
    justify-content: start;
  }
}

.new-button-div {
  width: auto;
  height: auto;
  background-color: #3461ff;
  border-radius: 16px;
  z-index: 10;
  cursor: pointer;
  font-family: $font-family;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.icon-custom {
  margin-right: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.imp-exp-button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  gap: 16px;
  font-family: $font-family;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
  }
}

.button-div {
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid #3461ff;
  z-index: 10;
  cursor: pointer;
  font-family: $font-family;
}

.icon-custom-other {
  color: #3461ff;
  margin-right: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
}
