@import "../../../../../scss/variables";

.table-div {
  width: 100%;
  height: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-family;
  @media (max-width: 992px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }

  thead {
    background-color: transparent;

    th {
      padding: 24px 12px;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      color: #1c1c1c;
      border-bottom: 1px solid #bcbaba;
      @media (max-width: 992px) {
        font-size: 18px;
      }
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  tbody {
    tr {
      color: #1c1c1c;

      &:nth-child(even) {
        background-color: transparent; // Màu nền cho hàng chẵn
      }

      &:hover {
        background-color: transparent; // Màu nền khi hover
      }
    }

    td {
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 16px;
      border-bottom: 1px solid #bcbaba;
    }

    .action-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 20px;
    }
  }
}
