@import "../../scss/variables";

.text-tilte {
  font-weight: get-font-weight($font-weight, semibold);
  font-size: 24px;
}

.text-content {
  font-size: 18px;
  font-weight: get-font-weight($font-weight, medium);
}

.btn-group {
  align-items: start;
  justify-content: end;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
  padding-right: 1rem;

  .btn {
    width: fit-content;
    border-radius: 8px;
  }

  .btn-second {
    color: get-color($primary, "500");
    font-size: get-font-size($body-font-size, rg);
    font-weight: get-font-weight($font-weight, medium);
  }

  .btn-pri {
    background: red;
    color: white;
    font-size: get-font-size($body-font-size, rg);
    font-weight: get-font-weight($font-weight, medium);
  }
}
