@import "../../../scss/variables";

.tab-layout-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 16px;
  width: 100%;
  height: fit-content;
}

.product-list-layout {
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 26px 29px 40px;
  background: white;
  gap: 16px;
}

.title-text {
  font-size: get-font-size($title-font-size, sm);
  font-weight: get-font-weight($font-weight, bold);
  font-family: $font-family;
  margin: 0;
  display: inline;
}
