@import "../../scss/variables";

.pagination-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: $font-family;
  @media (max-width: 768px) {
    margin-top: 72px;
  }
}

.my-pagination-div {
  display: flex;
  flex-direction: row;
  width: 65%;
  height: auto;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 962px) {
    flex-direction: column;
    gap: 16px;
  }
}


.pagination-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;

}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;


  .page-item {
    background-color: transparent;
    font-size: 16px;
    margin: 0 4px;
    border: none;
    border-radius: 8px ;


    &.active {
      color: get-color($accent, "100");
      background-color: get-color($primary, "100");
    }

    &:hover {
      cursor: pointer;
      background-color: get-color($secondary, "100");
    }

    &.prev,
    &.next {
      font-size: 18px;
      font-weight: bold;
      padding: 0 10px;
    }
  }



  .page-link {
    padding: 4px 12px;
    background-color: transparent;
    font-family: sans-serif;
    border-radius: 8px;
    @media (max-width: 962px) {
      font-size: 14px;
    }

    &:hover {
      cursor: pointer;
      background-color: transparent;
      text-decoration: none;
    }

    &.active {
      font-weight: normal;
      background-color: get-color($primary, "100");
    }
  }

  .prev.page-item {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

  }

  .next.page-item {
    padding: 0;
    margin: 0;
    font-family: sans-serif;


  }
}
.prev.page-item.disabled,
.next.page-item.disabled {
  opacity: 0.5;
  cursor: default;
  color: get-color($secondary, "100");
  background-color: #828D9A;
}
